@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* css reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* change font */
header, li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 30px 10%;
}

.header-logo {
    color: wheat;
}

/* navigation bar in header */
.header-navigation a {
    color: white;
}

.header-navigation li {
    /* instead of going up and down, they go side by side */
    list-style: none;
    display: inline-block;
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
}

.header-navigation li a {
    transition: all 0.5s ease 0s;
}

.header-navigation li a:hover {
    color: aqua;
}

/* shamelessly stolen from https://www.youtube.com/watch?v=PwWHL3RyQgk&list=LL&index=1&t=23s */
/* colors:  FDD692 AF9AB2 568EA3 1F2937 */
/* welcome screen section https://coolors.co/1f2937-dfdfdf-d87cac-c16200 */
.welcome-screen{
    background-image: url("https://cdn.theatlantic.com/media/img/photo/2018/11/photos-companionable-capybaras/c01_890874902-1/original.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Comic Sans MS";
    padding-top: 25px;
    height: 100%;
    background-color: #DFDFDF;
    text-align: center;
}


.welcome-screen h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.welcome-screen p {
    color: black; 
}


/* animals */
.animals {
    background-color: #AF9AB2;
    padding: 100px;
}

.gallery img {
    box-sizing: border-box;
    border-radius: 23px;
    height: auto;
    width: 350px; 
    padding: 1px;
    border: 3px solid red;
}